<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn50E79l2RdH-tTxCJFWh8uWJbMlGGRBI</string>
	<key>GCM_SENDER_ID</key>
	<string>689870563559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appArchitecture.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>game-f36e1</string>
	<key>STORAGE_BUCKET</key>
	<string>game-f36e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689870563559:ios:faf54f77d6a39ba1501a42</string>
</dict>
</plist>